<div class="container p-5" style="min-height: 100vh">
  <div class="card p-3 shadow">
    <div class="row d-flex justify-content-between align-item-center">
      <div
        class="col"
        style="
          overflow-y: scroll;
          scroll-behavior: smooth;
          scroll-padding-block: 10px;
          height: 750px;
        "
      >
        <div
          class="d-flex d-flex justify-content-between align-items-center sticky-top bg-white"
        >
          <h4>* TODO Task *</h4>
          <div class="d-flex align-items-center">
            <input
              type="text"
              class="form-control form-control-sm mt-1"
              placeholder="Search..."
              [(ngModel)]="searchData"
            />
            <img
              src="https://img.icons8.com/external-others-inmotus-design/67/null/external-Reload-basic-elements-others-inmotus-design.png"
              style="width: 44px"
              (click)="searchTask()"
            />
          </div>
          <img
            src="https://img.icons8.com/fluency/48/null/delete-view.png"
            style="width: 40px; height: 40px"
            (click)="deleteAll()"
          />
        </div>

        <div *ngIf="searchData == ''; else defaultList">
          <div
            class="card-body mt-2"
            *ngFor="let item of list"
            style="border-radius: 10px; border: 3px solid whitesmoke"
          >
            <div class="d-flex justify-content-between">
              <h5 class="card-title headingText">{{ item.title }}</h5>
              <div>
                <button
                  class="d-inline me-1 btn btn-outline-danger fw-bold btn-sm"
                  (click)="deleteTask(item)"
                >
                  DELETE
                </button>
                <button
                  class="d-inline btn btn-outline-primary fw-bold btn-sm"
                  (click)="editTask(item)"
                >
                  EDIT
                </button>
              </div>
            </div>
            <p class="card-text">{{ item.dateCreated | date }}</p>
            <p class="card-text" (click)="todoTask = item">
              {{ item.des }}
            </p>
          </div>
        </div>
      </div>

      <div class="col rounded" style="margin-left: 20px">
        <div class="d-flex d-flex justify-content-between sticky-top bg-white">
          <h4>* Add New Task *</h4>
          <div>
            <button
              class="d-inline me-1 btn btn-outline-dark btn-sm"
              (click)="updateTask()"
            >
              UPDATE
            </button>
            <button
              class="d-inline btn btn-outline-dark btn-sm"
              (click)="addTasks()"
            >
              ADD TASK
            </button>
          </div>
        </div>

        <h6 class="mt-4">Enter title</h6>
        <input class="form-control" type="text" [(ngModel)]="todoTask.title" />

        <h6 class="mt-4">Enter description</h6>
        <textarea
          class="form-control"
          type="text"
          [(ngModel)]="todoTask.des"
          style="height: 350px"
        ></textarea>

        <h6 class="mt-4">
          TODO List basic features:- <br />
          1. Read All Task List <br />
          2. Add New Task <br />
          3. Update Existing Task <br />
          4. Delete Any Task <br />
          5. Delete All Task At Once Click <br />
        </h6>
      </div>
    </div>
  </div>
</div>

<ng-template #defaultList>
  <div
    class="card-body mt-2"
    *ngFor="let item of searchList"
    style="border-radius: 10px; border: 3px solid whitesmoke"
  >
    <div class="d-flex justify-content-between">
      <h5 class="card-title headingText">{{ item.title }}</h5>
      <div>
        <button
          class="d-inline me-1 btn btn-outline-danger fw-bold btn-sm"
          (click)="deleteTask(item)"
        >
          DELETE
        </button>
        <button
          class="d-inline btn btn-outline-primary fw-bold btn-sm"
          (click)="editTask(item)"
        >
          EDIT
        </button>
      </div>
    </div>
    <p class="card-text">{{ item.dateCreated | date }}</p>
    <p class="card-text" (click)="todoTask = item">
      {{ item.des }}
    </p>
  </div>
</ng-template>
